@model IEnumerable<ProjectDemo.EDM.tblcart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Areas/Users/Views/Shared/User_LayoutPage.cshtml";
}
<link href="~/NumericTextBoxStyle/StyleSheet1.css" rel="stylesheet" />
<script src="~/NumericTextBoxStyle/JavaScript.js"></script>

<div class="products">
    <div class="container">
        <h2>Cart</h2>

        <p>
            <br />
        </p>
        <table class="table">
            <tr>
                <th>
                    Product Image
                </th>
                <th>
                    Product Name
                </th>
                <th>Cost</th>
                <th>Discount</th>

                <th>
                    @Html.DisplayNameFor(model => model.qty)
                </th>
                <th>Amount</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/Images/Products/@item.tblproduct.image1" height="100" width="100" />
                    </td>
                    <td>
                        @item.tblproduct.product_name
                    </td>
                    <td>@item.tblproduct.cost</td>
                    <td>@item.tblproduct.discount</td>
                    <td>
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus">
                            <input type="number" id="txtqty@(item.cart_id)" step="1" min="1" name="quantity"
                                   value="@item.qty" class="input-text qty text"
                                   onchange="updateCartQty(@item.cart_id, document.getElementById('txtqty@(item.cart_id)').value)">
                            <input type="button" value="+" class="plus">
                        </div>
                    </td>
                    <td>
                        @((item.tblproduct.cost-(item.tblproduct.cost*item.tblproduct.discount/100))*item.qty)
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </table>
        <script>
            function updateCartQty(cartid, qty) {
                $.ajax({
                    url: "/Users/Default/UpdateCartQty",
                    type: "POST",
                    data: { id: cartid, qty: qty },
                    dataType: "text",
                    success: function (data) {
                        alert(data);
                        window.location.href = "/Users/Default/Cart";
                    }
                });
            }
        </script>
    </div>
</div>